.title{
  font-size: 22px;
  padding: 20px 0px 3px 0px;

}
.reqInfo{
  height: 220px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #e8f2fc;
  border-radius: 8px;
  margin-top: 15px;
}
.placeholderImg{
  height: 55px;
  width: 50px;
  border-radius: 100px;
  float: left;
  padding: 5px 0px 0px 0px;
}
.titleName{
  padding: 11px 19px 6px 59px
}
.btn_2{
    float: right;
    padding: 9px 13px 10px 10px;
    margin-right: 9px;
    background-color: #00d853;
    color: white;
    border: none;
}
.btn_1{
  float: right;
  padding: 6px 13px 10px 10px;
  margin-right: 9px;
  background-color: white;
  border: 2px solid #99b3f2;
  color: #99b3f2;
}

