<div class="row mainrow" >
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <input class="form-control" placeholder="Search our knowledge base">
  </div>
</div>
<div class="container-fluid">
  <div class="row second_row">
    <div class="col-md-6" style="    font-size: 30px;
    font-weight: 700;">
      Invoice 72401638
    </div>
    <div class="col-md-6">
      <div style="float: right;">
        <button class="printbtn" >Print Invoice</button>
      </div>
    </div>
  </div>

  <div class="row infosection">
    <div class="col-md-12 ">
      <div class="tableBody table-responsive">

        <table class="table">

          <thead class="tableheader" >
            <tr>
              <th>Billed Form</th>
              <th>Billed To </th>
              <th>Invoice ID</th>
              <th>Purchase Date</th>
              <th>Customer ID</th>
            </tr>
          </thead>


          <tbody >
            <tr>
              <td style="width: 30%;">HostGator.com
                5005 Mitchelldale Suit #100
                Houston ,TX 77092
                United States of America
                (866) 964-2867
              </td>
              <td style="width: 30%;">HostGator.com
                5005 Mitchelldale Suit #100
                Houston ,TX 77092
                United States of America
                (866) 964-2867
              </td>

              <td>72401638</td>
              <td>2020-1-09</td>
              <td>230018</td>
            </tr>

          </tbody>

        </table>

      </div>


    </div>
  </div>


</div>

<div class="container-fluid">
  <div class="row second_row">
    <div class="col-md-6" style="    font-size: 30px;
    font-weight: 700;">
     Invoice Contents
    </div>

  </div>

  <div class="row mb-2 infosection">
    <div class="col-md-12 ">
      <div class="tableBody table-responsive">

        <table class="table">

          <thead class="tableheader" >
            <tr>
              <th>Product</th>
              <th>Plan</th>
              <th>Unit Price</th>
              <th>Term</th>
              <th>Total</th>
            </tr>
          </thead>


          <tbody >
            <tr>
              <td >Addon

              </td>
              <td >
                Paid Migration - half hour
              </td>

              <td>0.00/mo</td>
              <td>one time</td>
              <td>$37.05</td>
            </tr>

          </tbody>

        </table>


        <table class="table">

          <thead class="tableheader" >
            <tr>
              <th>Summary Totals</th>

            </tr>
          </thead>


          <tbody class="summarytable" >
           <tr>
             <td>
               Subtotal:     $37.05
             </td>

           </tr>

           <tr>
            <td>
              Prior Payments: $37.05
            </td>

          </tr>
          <tr>
            <td>
              Ammount Due: $37.05
            </td>

          </tr>
          </tbody>

        </table>
      </div>


    </div>
  </div>


</div>





