<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 titleRow" >Invoices</div>
  </div>

<div class="row">
  <div class="col-md-4 titleRow_2">TRANSACTION LIST</div>
  <div class="col-md-7">
    <div class="row" style="float: right;">
      <div class='titleIcon'>
      <i class="fa fa-print fa-3x" aria-hidden="false" ></i>
      <p style="    padding-left: 5px;">Print</p>
    </div>
    <div class='titleIcon'>
      <i class="fa fa-download fa-3x" aria-hidden="true"></i>
      <p style="    padding-left: 5px;">CSV</p>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <input class="inputtype" placeholder="Pending Transaction">


    <label for="From" class="labeltype">From:
      <input class="inputtype" placeholder="From" type="date" id="From">
    </label>


    <label for="To" class="labeltype">To:
      <input class="inputtype" placeholder="To" type="date" id="To">
    </label>
     <input type="button" value="GO" class="buttontype">


      <input type="text" placeholder="Search" class="searchinput">

  </div>

</div>
<div class="row">
  <h6>View</h6>
  <h6 style="color: rgb(125, 149, 186);">Past 30 Days</h6>
  <h6 style="color: rgb(125, 149, 186);">Past 60 Days</h6>
  <h6 style="color: rgb(125, 149, 186);">Past 90 Days</h6>
</div>


<div>

  <table class="table">
    <thead class="t_header">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Order ID</th>
        <th scope="col">Status</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Ammout</th>
        <th scope="col">Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2017-08-15, 17:00</th>
        <td (click)='detailinvoice()'>58363</td>
        <td>Pending</td>
        <td>Bobbykeonglf</td>
        <td>98765432</td>
        <td>bobby@gmail.com</td>
        <td>-$200</td>
        <td>-$1</td>
      </tr>
      <tr>
        <th scope="row">2017-08-15, 17:00</th>
        <td (click)='detailinvoice()'>58363</td>
        <td>Pending</td>
        <td>Bobbykeonglf</td>
        <td>98765432</td>
        <td>bobby@gmail.com</td>
        <td>-$200</td>
        <td>-$1</td>
      </tr>
      <tr>
        <th scope="row">2017-08-15, 17:00</th>
        <td (click)='detailinvoice()'>58363</td>
        <td>Pending</td>
        <td>Bobbykeonglf</td>
        <td>98765432</td>
        <td>bobby@gmail.com</td>
        <td>-$200</td>
        <td>-$1</td>
      </tr>
    </tbody>
  </table>

</div>
</div>
